body {
  background: radial-gradient(circle, #1d71bb, #134a7a);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hero {
  text-align: center;
  margin-bottom: 3rem;
}
.authentication-container {
  padding: 4rem 4rem 8rem 4rem;
  width: 30%;
  height: auto;
  min-height: 70%;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:
    min-height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.3s ease;
}
.authentication-container a {
  color: #1d71bb;
  text-decoration: none;
  font-weight: bold;
}

#app-icon {
  height: 48px;
  width: 48px;
  background: radial-gradient(circle, #048aff, #1d71bb);
  stroke: white;
  padding: 24px;
  border-radius: 50%;
}

.input-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin: 8px 0px 8px 0px;
}

.input-box label {
  font-weight: bold;
  width: 100%;
}
.input-box input {
  background: #f3f3f5;
  border: 0px;
  padding: 16px;
  border-radius: 12px;
  width: 100%;
}
.options-container {
  width: 80%;
  height: 3rem;
  border-radius: 12px;
  background-color: #f3f4f6;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
  padding: 4px;
  place-items: center;
}
.option-item {
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #f3f4f6;
  color: #4a5565;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.option-item.is-active {
  background-color: white;
  color: #308dd9;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.signup-option-container {
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: white;
  color: #308dd9;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-form,
#signup-form {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-form-container,
#signup-form-container {
  width: 80%;
  max-height: 500px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: all 1s ease;
  overflow: hidden;
}
#login-form-container.is-disabled,
#signup-form-container.is-disabled {
  max-height: 0;
  opacity: 0;
  margin-top: 0;
  pointer-events: none;
}
#forget-password-link {
  align-self: flex-end;
}
#forget-password-link:hover {
  text-decoration: underline;
}
form button {
  border: 0px;
  margin-top: 24px;
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  background: #1d71bb;
  color: white;
  font-weight: bold;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
#form button:hover {
  background: #237fcf;
}

@media (max-width: 768px) {
  .authentication-container {
    width: 85%;
    padding: 40px 0;
  }
  h2 {
    font-size: 1.2rem;
  }
}
